

asgiref
backports.zoneinfo==0.2.1;python_version<"3.9"
click
colorama
dj-database-url
Django
django-cors-headers
djangorestframework
gunicorn
h11
packaging
psycopg2
setuptools
sqlparse
typing_extensions
tzdata
uvicorn
whitenoise


assemblyai==0.35.1
openai==1.56.1
beautifulsoup4==4.12.3


django-import-export==4.2.1
django-widget-tweaks==1.4.8
